<h1>Bookings#index</h1>

<div class="container">
  <p>Tour - <%= @booking.tour.name%></p>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
