
<img class="container-background" alt="Bienvenue au Wagon Paris" width="1256" srcset="https://res.cloudinary.com/wagon/image/upload/c_fill,q_auto,w_2880/v1574699417/av1er5jhgqhxxctttujk.webp 2x" src="https://res.cloudinary.com/dlwpvvdub/image/upload/v1592986908/anete-lusina-GOZxrAlNIt4-unsplash_yjhxid.jpg">

<h2>Nouveaux Voyages</h2>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.pexels.com/photos/631317/pexels-photo-631317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=375&w=630" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Afrique du Sud</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.pexels.com/photos/4634620/pexels-photo-4634620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=375&w=630" class="card-img-top" alt="..." style:height: 252px;
>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
