    <!-- WELCOME
    ================================================== -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheader -->
            <h6 class="text-uppercase text-primary" data-aos="fade-up">
              Egypte
            </h6>

            <!-- Headin -->
            <h1 class="display-1 font-weight-bold" data-aos="fade-up" data-aos-delay="50">
              Le secret des pyramides d'Egypte
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-6" data-aos="fade-up" data-aos-delay="100">
              Guide: Karim
            </p>

            <!-- Button -->
            <p class="mb-7 mb-md-9" data-aos="fade-up" data-aos-delay="150">
              <a class="btn btn-primary shadow lift" href="#!">
                Start <i class="fe fe-arrow-right ml-3"></i>
              </a>
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12" data-aos="fade-up" data-aos-delay="200">

            <!-- Video -->
            <div class="embed-responsive embed-responsive-16by9">
              <video class="embed-responsive-item rounded-lg bg-light shadow-lg" src="assets/video/video-1.mp4" autoplay loop muted>
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="assets/video/video-1.mp4">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
