// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "streaming";
@import "banner";
@import "tab";
@import "footer";
@import "card";
@import "map";


h2 {
    font-family: HK Grotesk;
    font-style: SemiBold;
    font-weight: 300;
    font-size: 42px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    margin-bottom: 150px;
    text-align: center;
    margin-top: 150px;
}

.card-title {
    margin-bottom: 0.75rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Nunito", "Helvetica", "sans-serif";
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img {
width: 100%;
height: auto;
}

