// .live {
//   height: calc(100vh - 160px);
// }

#countup {
  color: #619BBD;
  font-size: 28px;
  font-weight: bold;
  margin: 15px;
  margin-top: 0;
}

.container-live-map {
  display: flex;
  justify-content: space-between;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
