.body-container {
  display: flex;
  justify-content: space-between;
  width: 878px;
  margin-top: 70px;
}

.body-container .presentation {
  width: 400px;
}

.body-container img {
  object-fit: cover;
  height: 350px;
}

.slider {
  width: 400px;
  height: 350px;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.guidename {
  font-weight: bold;
}

.price {
  display: flex;
  justify-content: space-between;
}

strong {
  color: #619BBD;
  font-weight: lighter;
}

.presentation h5 {
  color: #A9C8DB;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.calendrier {
  text-align: center;
  margin-bottom: 45px;
}

.calendrier h5 {
  color: #A9C8DB;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.testimonial h5 {
  color: #A9C8DB;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.calendrier p {
  color: #5290B7;
}

.container-calendrier {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

@media(max-width: 768px) {
  .body-container {
    flex-direction: column;
    width: auto;
  }
  .body-container .presentation {
    width: auto;
    text-align: center;
    padding: 0 24px;
  }
  .body-container .price {
    justify-content: space-around;
  }
  .slider {
    width: 100%;
  }
  #rmt-500 {
    margin-top: 500px;
  }
  #responsive-h5 {
    margin-top: 10px;
  }
  .container-calendrier {
    width: auto;
  }
  .tab-container h3 {
    text-align: center;
  }
}
