

<div class="card">
  <% @checkpoints.each do |checkpoint| %>
    <%= simple_form_for([:guide, checkpoint], remote: true) do |f| %>
      <p><%= checkpoint.name %> </p>
      <%= f.submit "Done" %>
    <% end %>
  <% end %>
</div>

